.serial {
    float: left;
    margin-top: 10px;
    width: 100%;
}
.serial-left-block {
    float: left;
    width: 182px;
}
.serial-right-block {
    float: right;
    width: 640px;
}
.serial-image-box {
    border: 5px solid #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.17);
    background: #fff;
    float: left;
}
.serial-title {
    font-size: 35px;
    line-height: 35px;
    font-weight: normal;
    color: #000;
}
.see-anime-on-device {
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 450px;
    color: #666;
}
.serial-additional-title {
    font-weight: normal;
    font-size: 16px;
    color: #666;
    line-height: 16px;
}
.serial-description {
    float: left;
    margin-top: 20px;
    color: #444;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}
.serial-params {
    float: left;
    margin-top: 30px;
}
.serial-param-line {
    float: left;
    width: 100%;
}
.serial-param-title {
    float: left;
    width: 75px;
    margin-right: 4px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #000;
}
.serial-param-val {
    float: left;
}
.serial-season-box {
    float: left;
    margin-top: 30px;
    width: 100%;
}
.serial-box-seaon-title {
    color: #444;
    float: right;
}
.animenice-player {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.serial-like {
    float: left;
    width: 100%;
}
.facebook-like {
    float: left;
    width: 100px;
}
.google-plus-like {
    float: left;
}
.vk-like {
    float: left;
}
.html5-playlist {
    width: 115px;
    z-index: 999;
    position: absolute;
    padding-top: 15px;
    text-align: center;
    margin-left: 550px;
    height: 360px;
    background-color: black;
    overflow: auto;
}
.playlist-item {
    display: block;
    height: 22px;
    margin-left: 5px;
    width: 90px;
    margin-bottom: 5px;
    color: white;
    padding-top: 4px;
    font-size: 14px;
    cursor: pointer;
    background-color: #333;
}
.playlist-item:hover {
    background: #b6b6b6; /* Old browsers */
    background: -moz-linear-gradient(top,  #b6b6b6 0%, #999999 50%, #7e7e7e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6b6b6), color-stop(50%,#999999), color-stop(100%,#7e7e7e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b6b6b6 0%,#999999 50%,#7e7e7e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b6b6b6 0%,#999999 50%,#7e7e7e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b6b6b6 0%,#999999 50%,#7e7e7e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b6b6b6 0%,#999999 50%,#7e7e7e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6b6b6', endColorstr='#7e7e7e',GradientType=0 ); /* IE6-9 */
}
.color-black {
    color: #474949;
}
video {
    background-color: black;
}
.serial-rating { float: left; width: 100%; margin-top: 5px; }
.serial-rating-title { width: 100%; float: left; font-family: PT Sans; font-size: 15px; }
.rating-block { cursor: pointer; }
.rating-block:hover { background-color: #ed9c28; }
.badge-orange { background-color: #ed9c28; }
.anime-by-rating { float: left; width: 100%; background-color: #fff; min-height: 300px; }
.anime-rating-title { display: block; margin-left: 10px; margin-top: 10px; font-family: PT Sans; font-size: 20px; }
.rating-range-block { float: left; margin-left: 10px; margin-top: 15px; }
.find-by-rating { margin-top: 15px; width: 120px; }